/* Styles for the search input */
input {
    margin: 50px auto 20px auto;
    display: block;
    width: 60%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #007BFF;
}

/* Styles for the listener boxes container */
.boxes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Space between the boxes */
}

/* Styles for individual listener boxes */
.box {
    width: calc(33.333% - 26px); /* One-third of container width minus gap divided by 2 (for both sides) */
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    display: flex;
    align-items: center; /* Vertically center the text */
    justify-content: center; /* Horizontally center the text */
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; /* This makes long text end with "..." */
    height: 100px; /* Fixed height */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 600px) {
    .box {
        width: 100%; /* Full width on smaller screens */
    }
}
